@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  --font-primary: "Urbanist", Helvetica, Arial, sans-serif;
  --font-heading: "Unbounded-Bold", Helvetica, Arial, sans-serif;

  --color-bg: #ffffff;
  --color-surface: #f9fafb;
  --color-border: #e5e7eb;
  --color-text: #333333;
  --color-muted: #666666;

  --color-primary: #F1B1C1;
  --color-primary-hover: #CE7D91;

  --radius-lg: 20px;
  --radius-md: 12px;

  --shadow-lg: 0 14px 42px rgba(0, 0, 0, 0.15);
  --shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.06);

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: .75rem;
  --spacing-lg: 1rem;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-bottom: 15px;
}

.app-container {
  display: flex;
}

.main-content {
    flex: 1;
  margin-left: 420px; /* Same as sidebar width */
  padding: 20px;
  width: calc(100% - 383px);
}



body, h1, h2, h3, h4, h5, h6, p, span, div, input, textarea, label {
  font-family: "Urbanist", Helvetica, Arial, sans-serif;
  letter-spacing: .7px;
}


